In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
f = '/Users/a1/Desktop/算法实战/house_price_predict/'
os.chdir(f)

In [3]:
train_df = pd.read_csv('train.csv', index_col=0)
test_df = pd.read_csv('test.csv', index_col=0)

In [4]:
print(train_df.shape)
print(test_df.shape)

(1460, 80)
(1459, 79)

In [11]:
y_train = np.log1p(train_df.pop("SalePrice")) #提取train_df中的label，并log1p平滑

In [13]:
y_train.head()

Id
1    12.247699
2    12.109016
3    12.317171
4    11.849405
5    12.429220
Name: SalePrice, dtype: float64

In [14]:
all_df = pd.concat((train_df, test_df), axis = 0) #按行整合

In [16]:
all_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [18]:
all_df['MSSubClass'] = all_df['MSSubClass'].astype(str)
pd.get_dummies(all_df['MSSubClass']).head()

    120  150  160  180  190  20  30  40  45  50  60  70  75  80  85  90
Id
1     0    0    0    0    0   0   0   0   0   0   1   0   0   0   0   0
2     0    0    0    0    0   1   0   0   0   0   0   0   0   0   0   0
3     0    0    0    0    0   0   0   0   0   0   1   0   0   0   0   0
4     0    0    0    0    0   0   0   0   0   0   0   1   0   0   0   0
5     0    0    0    0    0   0   0   0   0   0   1   0   0   0   0   0

In [19]:
all_dummy_df = pd.get_dummies(all_df)

In [20]:
all_dummy_df.head()

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
1,65.0,8450,7,5,2003,2003,196.0,706.0,0.0,150.0,...,0,0,0,1,0,0,0,0,1,0
2,80.0,9600,6,8,1976,1976,0.0,978.0,0.0,284.0,...,0,0,0,1,0,0,0,0,1,0
3,68.0,11250,7,5,2001,2002,162.0,486.0,0.0,434.0,...,0,0,0,1,0,0,0,0,1,0
4,60.0,9550,7,5,1915,1970,0.0,216.0,0.0,540.0,...,0,0,0,1,1,0,0,0,0,0
5,84.0,14260,8,5,2000,2000,350.0,655.0,0.0,490.0,...,0,0,0,1,0,0,0,0,1,0

In [25]:
all_dummy_df.isnull().sum().sort_values(ascending= False)

LotFrontage             486
GarageYrBlt             159
MasVnrArea               23
BsmtHalfBath              2
BsmtFullBath              2
BsmtFinSF2                1
GarageCars                1
TotalBsmtSF               1
BsmtUnfSF                 1
GarageArea                1
BsmtFinSF1                1
Condition1_Artery         0
Condition2_Feedr          0
Condition2_Artery         0
Neighborhood_Somerst      0
Neighborhood_StoneBr      0
Neighborhood_Timber       0
Neighborhood_Veenker      0
Condition1_Feedr          0
Condition1_RRAn           0
Condition1_RRNn           0
Condition1_RRNe           0
Condition1_Norm           0
Condition1_PosA           0
Neighborhood_SawyerW      0
Condition1_RRAe           0
Condition1_PosN           0
Neighborhood_OldTown      0
Neighborhood_Sawyer       0
Neighborhood_MeadowV      0
                       ...
BsmtFinType2_ALQ          0
BsmtFinType2_BLQ          0
BsmtFinType2_GLQ          0
BsmtFinType2_LwQ          0
BsmtFinType2_Rec          0
BsmtFinType2_Unf          0
Heating_Floor             0
Heating_GasA              0
Heating_GasW              0
Heating_Grav              0
BsmtFinType1_ALQ          0
BsmtExposure_Mn           0
ExterCond_TA              0
BsmtExposure_Gd           0
Foundation_BrkTil         0
Foundation_CBlock         0
Foundation_PConc          0
Foundation_Slab           0
Foundation_Stone          0
Foundation_Wood           0
BsmtQual_Ex               0
BsmtQual_Fa               0
BsmtQual_Gd               0
BsmtQual_TA               0
BsmtCond_Fa               0
BsmtCond_Gd               0
BsmtCond_Po               0
BsmtCond_TA               0
BsmtExposure_Av           0
Exterior1st_CBlock        0
Length: 303, dtype: int64

In [26]:
mean_cols = all_dummy_df.mean()
mean_cols.head()

LotFrontage       69.305795
LotArea        10168.114080
OverallQual        6.089072
OverallCond        5.564577
YearBuilt       1971.312778
dtype: float64

In [27]:
all_dummy_df = all_dummy_df.fillna(mean_cols)

In [28]:
all_dummy_df.isnull().sum()

LotFrontage              0
LotArea                  0
OverallQual              0
OverallCond              0
YearBuilt                0
YearRemodAdd             0
MasVnrArea               0
BsmtFinSF1               0
BsmtFinSF2               0
BsmtUnfSF                0
TotalBsmtSF              0
1stFlrSF                 0
2ndFlrSF                 0
LowQualFinSF             0
GrLivArea                0
BsmtFullBath             0
BsmtHalfBath             0
FullBath                 0
HalfBath                 0
BedroomAbvGr             0
KitchenAbvGr             0
TotRmsAbvGrd             0
Fireplaces               0
GarageYrBlt              0
GarageCars               0
GarageArea               0
WoodDeckSF               0
OpenPorchSF              0
EnclosedPorch            0
3SsnPorch                0
                        ..
GarageCond_TA            0
PavedDrive_N             0
PavedDrive_P             0
PavedDrive_Y             0
PoolQC_Ex                0
PoolQC_Fa                0
PoolQC_Gd                0
Fence_GdPrv              0
Fence_GdWo               0
Fence_MnPrv              0
Fence_MnWw               0
MiscFeature_Gar2         0
MiscFeature_Othr         0
MiscFeature_Shed         0
MiscFeature_TenC         0
SaleType_COD             0
SaleType_CWD             0
SaleType_Con             0
SaleType_ConLD           0
SaleType_ConLI           0
SaleType_ConLw           0
SaleType_New             0
SaleType_Oth             0
SaleType_WD              0
SaleCondition_Abnorml    0
SaleCondition_AdjLand    0
SaleCondition_Alloca     0
SaleCondition_Family     0
SaleCondition_Normal     0
SaleCondition_Partial    0
Length: 303, dtype: int64

In [30]:
numeric_cols = all_dummy_df.columns[all_dummy_df.dtypes != 'object']

In [33]:
len(numeric_cols)

303

In [41]:
#a = pd.DataFrame({'a': [1,2], 'b':[2,3], 'c':[5,6], 'd':[7,8]})
#a

In [42]:
#xx = ['a', 'b', 'c', 'd']
#a[xx].mean()

In [43]:
#a.loc[:, xx].mean()

In [44]:
numeric_cols_mean = all_dummy_df.loc[:, numeric_cols].mean()
numeric_cols_std = all_dummy_df.loc[:, numeric_cols].std()
all_dummy_df.loc[:, numeric_cols] = (all_df.loc[:, numeric_cols] - numeric_cols_mean) / numeric_cols_std

/Users/a1/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/a1/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)